<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liuym.admin.repository.mapper.base.AgentProtectConfigMapper">
  <resultMap id="BaseResultMap" type="com.liuym.admin.repository.model.entity.AgentProtectConfig">
    <id column="f_city" jdbcType="INTEGER" property="city" />
    <result column="f_province" jdbcType="INTEGER" property="province" />
    <result column="f_protect_limit" jdbcType="TINYINT" property="protectLimit" />
    <result column="f_renew_limit" jdbcType="TINYINT" property="renewLimit" />
    <result column="f_blank_limit" jdbcType="TINYINT" property="blankLimit" />
  </resultMap>
  <sql id="Base_Column_List">
    f_city, f_province, f_protect_limit, f_renew_limit, f_blank_limit
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from `d_ec_agent`.`t_agent_protect_config`
    where f_city = #{city,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from `d_ec_agent`.`t_agent_protect_config`
    where f_city = #{city,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.liuym.admin.repository.model.entity.AgentProtectConfig">
    insert into `d_ec_agent`.`t_agent_protect_config` (f_city, f_province, f_protect_limit, 
      f_renew_limit, f_blank_limit)
    values (#{city,jdbcType=INTEGER}, #{province,jdbcType=INTEGER}, #{protectLimit,jdbcType=TINYINT}, 
      #{renewLimit,jdbcType=TINYINT}, #{blankLimit,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.liuym.admin.repository.model.entity.AgentProtectConfig">
    insert into `d_ec_agent`.`t_agent_protect_config`
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="city != null">
        f_city,
      </if>
      <if test="province != null">
        f_province,
      </if>
      <if test="protectLimit != null">
        f_protect_limit,
      </if>
      <if test="renewLimit != null">
        f_renew_limit,
      </if>
      <if test="blankLimit != null">
        f_blank_limit,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="city != null">
        #{city,jdbcType=INTEGER},
      </if>
      <if test="province != null">
        #{province,jdbcType=INTEGER},
      </if>
      <if test="protectLimit != null">
        #{protectLimit,jdbcType=TINYINT},
      </if>
      <if test="renewLimit != null">
        #{renewLimit,jdbcType=TINYINT},
      </if>
      <if test="blankLimit != null">
        #{blankLimit,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.liuym.admin.repository.model.entity.AgentProtectConfig">
    update `d_ec_agent`.`t_agent_protect_config`
    <set>
      <if test="province != null">
        f_province = #{province,jdbcType=INTEGER},
      </if>
      <if test="protectLimit != null">
        f_protect_limit = #{protectLimit,jdbcType=TINYINT},
      </if>
      <if test="renewLimit != null">
        f_renew_limit = #{renewLimit,jdbcType=TINYINT},
      </if>
      <if test="blankLimit != null">
        f_blank_limit = #{blankLimit,jdbcType=TINYINT},
      </if>
    </set>
    where f_city = #{city,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.liuym.admin.repository.model.entity.AgentProtectConfig">
    update `d_ec_agent`.`t_agent_protect_config`
    set f_province = #{province,jdbcType=INTEGER},
      f_protect_limit = #{protectLimit,jdbcType=TINYINT},
      f_renew_limit = #{renewLimit,jdbcType=TINYINT},
      f_blank_limit = #{blankLimit,jdbcType=TINYINT}
    where f_city = #{city,jdbcType=INTEGER}
  </update>
</mapper>