<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liuym.admin.repository.mapper.base.AgentProtectConflictMapper">
  <resultMap id="BaseResultMap" type="com.liuym.admin.repository.model.entity.AgentProtectConflict">
    <id column="f_log_id" jdbcType="INTEGER" property="logId" />
    <result column="f_protect_id" jdbcType="INTEGER" property="protectId" />
    <result column="f_company_name" jdbcType="VARCHAR" property="companyName" />
    <result column="f_agent_corp_id" jdbcType="INTEGER" property="agentCorpId" />
    <result column="f_agent_user_id" jdbcType="INTEGER" property="agentUserId" />
    <result column="f_oper_id" jdbcType="INTEGER" property="operId" />
    <result column="f_oper_is_admin" jdbcType="TINYINT" property="operIsAdmin" />
    <result column="f_status" jdbcType="TINYINT" property="status" />
    <result column="f_create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="f_animus_contact_phone" jdbcType="VARCHAR" property="animusContactPhone" />
    <result column="f_animus_contact_name" jdbcType="VARCHAR" property="animusContactName" />
  </resultMap>
  <sql id="Base_Column_List">
    f_log_id, f_protect_id, f_company_name, f_agent_corp_id, f_agent_user_id, f_oper_id, 
    f_oper_is_admin, f_status, f_create_time, f_animus_contact_phone, f_animus_contact_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from `d_ec_agent`.`t_agent_protect_conflict`
    where f_log_id = #{logId,jdbcType=INTEGER}
  </select>
  <select id="isConflictByCorpName" resultType="java.lang.Boolean">
    select
    <include refid="Base_Column_List" />
    from `d_ec_agent`.`t_agent_protect_conflict`
    where f_company_name = #{corpName,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from `d_ec_agent`.`t_agent_protect_conflict`
    where f_log_id = #{logId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.liuym.admin.repository.model.entity.AgentProtectConflict">
    insert into `d_ec_agent`.`t_agent_protect_conflict` (f_log_id, f_protect_id, f_company_name, 
      f_agent_corp_id, f_agent_user_id, f_oper_id, 
      f_oper_is_admin, f_status, f_create_time, 
      f_animus_contact_phone, f_animus_contact_name)
    values (#{logId,jdbcType=INTEGER}, #{protectId,jdbcType=INTEGER}, #{companyName,jdbcType=VARCHAR}, 
      #{agentCorpId,jdbcType=INTEGER}, #{agentUserId,jdbcType=INTEGER}, #{operId,jdbcType=INTEGER}, 
      #{operIsAdmin,jdbcType=TINYINT}, #{status,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP}, 
      #{animusContactPhone,jdbcType=VARCHAR}, #{animusContactName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.liuym.admin.repository.model.entity.AgentProtectConflict">
    insert into `d_ec_agent`.`t_agent_protect_conflict`
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="logId != null">
        f_log_id,
      </if>
      <if test="protectId != null">
        f_protect_id,
      </if>
      <if test="companyName != null">
        f_company_name,
      </if>
      <if test="agentCorpId != null">
        f_agent_corp_id,
      </if>
      <if test="agentUserId != null">
        f_agent_user_id,
      </if>
      <if test="operId != null">
        f_oper_id,
      </if>
      <if test="operIsAdmin != null">
        f_oper_is_admin,
      </if>
      <if test="status != null">
        f_status,
      </if>
      <if test="createTime != null">
        f_create_time,
      </if>
      <if test="animusContactPhone != null">
        f_animus_contact_phone,
      </if>
      <if test="animusContactName != null">
        f_animus_contact_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="logId != null">
        #{logId,jdbcType=INTEGER},
      </if>
      <if test="protectId != null">
        #{protectId,jdbcType=INTEGER},
      </if>
      <if test="companyName != null">
        #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="agentCorpId != null">
        #{agentCorpId,jdbcType=INTEGER},
      </if>
      <if test="agentUserId != null">
        #{agentUserId,jdbcType=INTEGER},
      </if>
      <if test="operId != null">
        #{operId,jdbcType=INTEGER},
      </if>
      <if test="operIsAdmin != null">
        #{operIsAdmin,jdbcType=TINYINT},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="animusContactPhone != null">
        #{animusContactPhone,jdbcType=VARCHAR},
      </if>
      <if test="animusContactName != null">
        #{animusContactName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.liuym.admin.repository.model.entity.AgentProtectConflict">
    update `d_ec_agent`.`t_agent_protect_conflict`
    <set>
      <if test="protectId != null">
        f_protect_id = #{protectId,jdbcType=INTEGER},
      </if>
      <if test="companyName != null">
        f_company_name = #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="agentCorpId != null">
        f_agent_corp_id = #{agentCorpId,jdbcType=INTEGER},
      </if>
      <if test="agentUserId != null">
        f_agent_user_id = #{agentUserId,jdbcType=INTEGER},
      </if>
      <if test="operId != null">
        f_oper_id = #{operId,jdbcType=INTEGER},
      </if>
      <if test="operIsAdmin != null">
        f_oper_is_admin = #{operIsAdmin,jdbcType=TINYINT},
      </if>
      <if test="status != null">
        f_status = #{status,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        f_create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="animusContactPhone != null">
        f_animus_contact_phone = #{animusContactPhone,jdbcType=VARCHAR},
      </if>
      <if test="animusContactName != null">
        f_animus_contact_name = #{animusContactName,jdbcType=VARCHAR},
      </if>
    </set>
    where f_log_id = #{logId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.liuym.admin.repository.model.entity.AgentProtectConflict">
    update `d_ec_agent`.`t_agent_protect_conflict`
    set f_protect_id = #{protectId,jdbcType=INTEGER},
      f_company_name = #{companyName,jdbcType=VARCHAR},
      f_agent_corp_id = #{agentCorpId,jdbcType=INTEGER},
      f_agent_user_id = #{agentUserId,jdbcType=INTEGER},
      f_oper_id = #{operId,jdbcType=INTEGER},
      f_oper_is_admin = #{operIsAdmin,jdbcType=TINYINT},
      f_status = #{status,jdbcType=TINYINT},
      f_create_time = #{createTime,jdbcType=TIMESTAMP},
      f_animus_contact_phone = #{animusContactPhone,jdbcType=VARCHAR},
      f_animus_contact_name = #{animusContactName,jdbcType=VARCHAR}
    where f_log_id = #{logId,jdbcType=INTEGER}
  </update>
</mapper>