<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liuym.student.repository.mapper.base.BusinessAgentFollowInfoMapper">
  <resultMap id="BaseResultMap" type="com.liuym.student.repository.model.entity.BusinessAgentFollowInfo">
    <id column="f_business_id" jdbcType="BIGINT" property="businessId" />
    <id column="f_agent_id" jdbcType="BIGINT" property="agentId" />
    <result column="f_follow_id" jdbcType="INTEGER" property="followId" />
    <result column="f_time" jdbcType="TIMESTAMP" property="time" />
  </resultMap>
  <sql id="Base_Column_List">
    f_business_id, f_agent_id, f_follow_id, f_time
  </sql>

  <!-- 更新企业跟进人信息 -->
  <insert id="replaceFollowInfos" >
    REPLACE INTO `d_ec_business`.`t_business_agent_follow_info`
    (f_business_id, f_agent_id, f_follow_id, f_time) values
    <foreach collection="list" item="business" separator="," >
     (#{business.businessId,jdbcType=BIGINT}, #{business.agentId,jdbcType=BIGINT}, #{business.followId,jdbcType=INTEGER},
      #{business.time,jdbcType=TIMESTAMP})
    </foreach>

  </insert>

  <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from `d_ec_business`..`t_business_agent_follow_info`
    where f_business_id = #{businessId,jdbcType=BIGINT}
      and f_agent_id = #{agentId,jdbcType=BIGINT}
  </select>
  <insert id="insert" parameterType="com.liuym.student.repository.model.entity.BusinessAgentFollowInfo">
    insert into `d_ec_business`..`t_business_agent_follow_info` (f_business_id, f_agent_id, f_follow_id, 
      f_time)
    values (#{businessId,jdbcType=BIGINT}, #{agentId,jdbcType=BIGINT}, #{followId,jdbcType=INTEGER}, 
      #{time,jdbcType=TIMESTAMP})
  </insert>


  <insert id="insertSelective" parameterType="com.liuym.student.repository.model.entity.BusinessAgentFollowInfo">
    insert into `d_ec_business`..`t_business_agent_follow_info`
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="businessId != null">
        f_business_id,
      </if>
      <if test="agentId != null">
        f_agent_id,
      </if>
      <if test="followId != null">
        f_follow_id,
      </if>
      <if test="time != null">
        f_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="businessId != null">
        #{businessId,jdbcType=BIGINT},
      </if>
      <if test="agentId != null">
        #{agentId,jdbcType=BIGINT},
      </if>
      <if test="followId != null">
        #{followId,jdbcType=INTEGER},
      </if>
      <if test="time != null">
        #{time,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
</mapper>